body{
background-image:url('../images/barcelonalogg.gif');
background-size: 100% 100%;
height:800px;
background-repeat:no-repeat;	
background-attachment: relative;


}


nav{
height: 80px;
width:100%;
background-color: darkblue;
line-height: 60px;
background-attachment: relative;

}

nav h1{
float: left;
font-family:cursive;
font-size:30px;
color: yellow;
margin-left: 10px;
line-height:40px;
}

nav ul {
float: right;
margin-right: 30px;
}
nav ul li{
list-style-type: none;
display: inline-block;
transition: 0.5s all;

}
nav ul li:hover{
background-color:red;
}
nav ul li a{
text-decoration: none;
color: yellow;
padding: 30px;
}
#intro{
background-color:#ffff4d;
box-shadow:1px 1px 5px 1px darkblue;
padding: 50px;
width: 100%;
height: 80px;
}